<h2>Phân quyền</h2>
<form action="" method="post">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th width="20%">Module</th>
                <th>Quyền</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>

    <button type="submit" class="btn btn-primary">Lưu thay đổi</button>
</form>
