<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="/public/style/css/active.css" />
    </head>
    <body>
        <div class="container">
            <p>Your phone: <span>number-phone</span></p>
            <p>is active!</p>
            <button type="submit" class="btn-back">Back to home</button>
        </div>
        <script src="/public/style/js/scrpit.js"></script>
    </body>
</html>
