<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Đăng nhập</title>

        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
            crossorigin="anonymous"
        />
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
            crossorigin="anonymous"
        ></script>

        <link rel="stylesheet" href="/assets/css/style.css" />
    </head>
    <body>
        <h1>Đăng nhập</h1>
        <div class="login">
            <div class="notify">
                <p class="error"><%= msg ?? "" %></p>
                <p class="success"><%= success ?? "" %></p>
            </div>
            <div>
                <form class="row g-3 needs-validation" method="post" novalidate>
                    <div class="mb-3 has-validation">
                        <label for="exampleInputEmail1" class="form-label"
                            >Email</label
                        >
                        <input
                            type="email"
                            class="form-control"
                            id="exampleInputEmail1"
                            aria-describedby="emailHelp"
                            name="emailUser"
                            placeholder="Email..."
                            required
                        />
                        <div class="invalid-feedback">Vui lòng nhập email</div>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label"
                            >Mật khẩu</label
                        >
                        <input
                            type="password"
                            class="form-control"
                            id="exampleInputPassword1"
                            name="passwordUser"
                            placeholder="Mật khẩu..."
                            required
                        />
                        <div class="invalid-feedback">
                            Vui lòng nhập mật khẩu
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary">
                        Đăng nhập
                    </button>
                </form>
            </div>
        </div>

        <script src="/assets/js/login.js"></script>
    </body>
</html>
