<!DOCTYPE html>
<html>
    <head>
        <title>Document</title>
        <link rel="stylesheet" href="/stylesheets/style.css" />
    </head>
    <body>
        <h1>Trang chủ</h1>
        <p>Chào bạn</p>
        <a href="/auth/logout">Đăng xuất</a>
    </body>
</html>
