<div class="d-grid">
    <h1>SSO Client</h1>
    <% if(user) { %>
    <h2>Chào bạn, <%=user.name%></h2>
    <a href="<%= logoutUrl %>" class="btn btn-primary">Đăng xuất</a>
    <% } else {%>
    <a href="<%= loginUrl %>" class="btn btn-primary">Đăng nhập</a>
    <% } %>
</div>
