html {
    font-family: "Roboto", sans-serif;
}

body {
    background-color: #333;
    color: #fff;
    margin: 6px 10px;
    position: relative;
}

.table {
    width: 100%;
    background-color: #555;
}

.table tr {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 16px;
}

.table thead tr {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.table thead {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid #555;
    background-color: #555;
    border-radius: 5px;
}

.table tbody {
    height: 90vh;
    background-color: #444;
}

.table tbody tr {
    border-bottom: 1px solid #555;
    height: 90px;
}

.question {
    position: absolute;
    bottom: 5px;
    right: 10px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 999px;
    background-color: #555;
    border: 1px solid transparent;
    z-index: 100;
    cursor: pointer;
}

.title {
    width: calc(100% - 7px);
    position: absolute;
    bottom: 0;
    left: 0;
    background: #333;
    color: #fefefe;
    height: 47px;
}
